name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Julia ${{matrix.version}} - ${{matrix.os}} - ${{matrix.arch}} - ${{github.event_name}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        # arch: [x64, x86]
        # os: [ubuntu-latest, windows-latest, macOS-latest]
        # version: ["1.4", "1.5", "1.6", "nightly"]
        include:
          - arch: "x64"
            os: "ubuntu-latest"
            version: "1.6"
          - arch: "x64"
            os: "windows-latest"
            version: "1.6"
          - arch: "x64"
            os: "macOS-latest"
            version: "1.6"
          - arch: "x86"
            os: "ubuntu-latest"
            version: "1.6"
          - arch: "x64"
            os: "ubuntu-latest"
            version: "nightly"
          # Older versions of Julia don't work; there is a problem in CxxWrap.jl
          # - arch: "x64"
          #   os: "ubuntu-latest"
          #   version: "1.5"
          # - arch: "x64"
          #   os: "ubuntu-latest"
          #   version: "1.4"
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{matrix.version}}
          arch: ${{matrix.arch}}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{runner.os}}-test-${{env.cache-name}}-${{hashFiles('**/Project.toml')}}
          restore-keys: |
            ${{runner.os}}-test-${{env.cache-name}}-
            ${{runner.os}}-test-
            ${{runner.os}}-
      - uses: julia-actions/julia-buildpkg@v1
        env:
          PYTHON:
      - uses: julia-actions/julia-runtest@v1
        # There is a weird segfault when converting a Julia String to a C++ std::string
        continue-on-error: ${{matrix.version == 'nightly' || matrix.arch == 'x86' }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1'
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
